[submodule "src/jetbot_ros"]
	path = src/jetbot_ros
	url = git@github.com:dusty-nv/jetbot_ros.git
[submodule "src/rplidar_ros"]
	path = src/rplidar_ros
	url = https://github.com/slamtec/rplidar_ros.git
	branch = ros2
[submodule "src/rf2o_laser_odometry_ros2"]
	path = src/rf2o_laser_odometry_ros2
	url = git@github.com:tomasvr/rf2o_laser_odometry_ros2.git
